<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>主页——Header</title>
  <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.bootcss.com/jquery/3.0.0/jquery.min.js"></script>
  <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style media="screen">
    * {
      margin: 0;
      padding: 0;
    }

    .hp-Header {
      height: 100px;
      box-shadow: 0 2px 5px #a1a3a6;
    }

    .hp-Header .nav-header {
      border-bottom: 1px solid #e3e3e3;
    }

    @media screen and (max-width:800px) {
      .nav-foot {
        display: none;
      }
      .hp-Header {
        height: 50px;
      }
      .hp-Header .nav-header {
        border-bottom: none;
      }
    }

    .hp-Header .nav-header .q-a {
      color: #00ae9d !important;
    }

    #header-font-weight {
      font-weight: bold;
    }

    .header-font-size {
      font-size: 15px;
    }
    .nav-QA{
      margin-top: 10px;
      margin-right: 15px;
      background-color: #00ae9d;
      width: 80px;
      height: 30px;
      line-height: 30px;
      text-align: center;
      border-radius: 5px;
    }
    .nav-QA a{
      color: #fff;
      font-size: 15px;
      text-decoration: none;
    }
   .nav-QA li:nth-child(2) span{
     font-size: 15px;
   }
   .nav-after-signin{
     display: none;
   }
  </style>
</head>

<body>
  <nav class="navbar navbar-default hp-Header">

    <div class="container">
      <div class="row">
        <div class="nav-header">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu" aria-expanded="false">
            <!-- <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="false"></span> -->
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"> </span>
            <span class="icon-bar"> </span>
            <span class="icon-bar"> </span>
          </button>
            <a class="navbar-brand" href="#" style="color:#ff6d00" id="header-font-weight">Mango问答</a>
          </div>
          <div class="collapse navbar-collapse" id="menu">
            <ul class="nav navbar-nav">
              <li class="header-font-size"><a href="#" class="q-a " id="header-font-weight">问答</a></li>
            </ul>
             <form class="navbar-form navbar-left">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Search">
              </div>
              <button type="button" class="btn btn-default">
              <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
          </button>
            </form>
            <ul class="nav navbar-right navbar-nav">
              <li><a href="#" class="q-a">立即登录</a></li>
              <li><a href="#">免费注册</a></li>
            </ul>
             <ul class="nav navbar-right navbar-nav nav-after-signin">
              <li>
                <div class="nav-QA">
                  <a href="#" class="">去提问</a>
                  <a href="#" class=""><span class="glyphicon glyphicon-chevron-down"></span></a>
                </div>
              </li>
              <li></li>
              <li>
                <a href="#"><span class="glyphicon glyphicon-envelope" style="font-size:20px"></span></a>
              </li>
              <li><a href="#"><span class="glyphicon glyphicon-user" style="font-size:20px"></span></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row nav-foot">
        <div class="navbar-nav nav">
          <li>
            <a href="#" style="color:#555">全部</a>
          </li>
        </div>
        <ul class="nav navbar-nav nav-foot-ul">
          <li><a href="#">javascript</a></li>
          <li><a href="#">node.js</a></li>
          <li><a href="#">html5</a></li>
          <li><a href="#">vim</a></li>
          <li><a href="#">python</a></li>
          <li><a href="#">mongodb</a></li>
          <li><a href="#">css</a></li>
        </ul>
        <ul class="nav navbar-nav nav-after-signin nav-foot-ul">
          <li><a href="#">javascript</a></li>
          <li><a href="#">node.js</a></li>
          <li><a href="#">html5</a></li>
          <li><a href="#">vim</a></li>
          <li><a href="#">python</a></li>
          <li><a href="#">mongodb</a></li>
          <li><a href="#">css</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <script type="text/javascript">
  var lis = document.querySelectorAll('.header-font-size');
  var ul = document.querySelectorAll('nav-foot-ul');
  for (var i = 0; i < 4; i++) {
    (function (i) {
      lis[i].onclick = function () {
        $(this).find('a').addClass('q-a');
        $(this).siblings().find('a').removeClass('q-a');
      }
    })(i)
  }
  </script>
</body>

</html>
