<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <title></title>
    <style media="screen">
    *{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
    ul{
      list-style-type: none;
    }

      div{
        border: 1px solid gray;
        /*height: 200px;*/
      }
      .box{
        padding: 40px 0px 0px 0px;
        width: 100%;
        background: lightgray;
      }
      .image-bxo{
      }

  .sn-inline {
    list-style: none;
    display: inline;
    margin: 0;
    padding: 0;
    vertical-align: text-bottom;
   }
    .user-name{
      margin:0;
    }
    .ml15{
      font-size: 10px;
      margin-left: 10px;
    }
    .profile__heading--award{
      margin-top: 30px;
      margin-bottom: 10px;
    }
    .profile__rank-btn{
      font-size: 20px;
      padding: 3px 20px;;
      background: #4BEE6D;
      border-radius:  100px;
    }
    .profile__heading--award-badge ul li{
      padding:2px 0px 2px 5px;

    }
    .jianjie-top{
      height: 30px;
      background: gray;
      position: relative;
    }
    .jianjie-dian{
      position: absolute;
      top: 0;
    }
    </style>
  </head>
  <body>
    <div class="box">

    <div class="container user-top">
      <div class="row">
        <div class="col-md-2 col-sm-3 col-xs-3">
          <img src="../public/images/user-256.png" alt="" width="100%" />
        </div>
        <div class="col-md-5 col-sm-9 col-xs-9">
          <h2 class="user-name">
            lingniker
            <a class="ml15">查看完整文档</a>
          </h2>
          <div class="profile__heading--award">
            <a class="profile__rank-btn" href="#">
              <span class="h4">5</span>
              <span class="profile__rank-btn-text">声望</span>
            </a>
              <div class="profile__heading--award-badge">
                <ul>
                  <li><i>o</i>填写城市</li>
                  <li><i>o</i>填写毕业学校</li>
                  <li><i>o</i>填写所在公司/组织</li>
                  <li><i>o</i>填写个人主网站</li>
                </ul>
            </div>
          </div>

        </div>
        <div class="col-md-5 col-sm-12 col-xs-12">
          <div class="jianjie-top">
            <ul class="jianjie-dian">
              <li></li>
              <li></li>
              <li></li>
            </ul>
          </div>
          <div>

        </div>
      </div>
    </div>
  </div>

  </body>
</html>
